@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald:wght@300&display=swap');

:root {
  --serif-font: "Noto Serif", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--serif-font)
}

/* Header at the top of the page */
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: right;
    padding: 2.5vw;
    background-color: rgb(255, 199, 14);
}

/* Name at the top of the page */
header h2 {
  font-size: 3rem;
}

/* For styling the Tel: and Email: text in header*/
span {
    font-style: italic; 
    font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  background-color:gainsboro;
}

/* Banner under the header */
#banner {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-image: url("../images/banner.png");
    background-size: cover;
    width: 95vw;
    margin: 1rem 1.25vw 0px 1.25vw;
    border-radius: 2rem;
}

/* Page heading inside the banner */
#page-heading {
    display: flex;
    color: rgb(255, 255, 255);
    font-weight: 5rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 2rem;
    order: 1
}

/* Navbar under the page heading inside the banner */
#banner-nav {
    order:2
}

/* Navigation links inside the banner navbar */
#banner-nav ul {
    display: flex;
    padding: 0.3rem;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

/* Navigation links inside the banner navbar */
#banner-nav ul li {
  list-style: none;
  padding: 0.5rem;
  
}

/* Removing styling for links in navbar and text color*/
#banner-nav a {
  text-decoration: none;
  color:rgb(107, 0, 0)
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 5vw;
}

/* Horizontal rule which separates main component from banner and footer */
hr {
    width: 95vw;
    display: inline-block;
    margin: 2.5vw;
}

/* Contains a picture me and some basic information about myself */
figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Picture of myself */
#mugshot {
    order: 1;
    width: 40vw;
    height: 40vw;
}

/* Basic information about myself */
figcaption {
    order: 2;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

/* Line spacing between basic information */
figcaption ul {
    line-height: 1.5;
}

/* Removing italics for information headings */
figcaption span {
    font-style: normal;
}

/* In-depth personal information */
article {
    margin: 1rem 2.5vw 0px 2.5vw;
}

/* Heading for personal information sections */
article h3{
    text-decoration: underline;
}

/* Personal information text */
article p {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

footer p {
    text-align: center;
}

a:visited {
  color: inherit;
}

/* Animation for banner navbar when link is tapped */
#banner a:focus-within {
  color: rgb(255, 0, 0);
}

/* Animation for banner navbar when link is tapped */
#banner li:focus-within {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

/* Media query for tablet sizing */
@media only screen and (min-width: 600px) and (max-width: 899px) {

    /* Page title inside banner */
  #banner h1 {
      font-size: 2.5rem;
  }

   /* Area around the link inside navbar */
  #banner li a {
      font-size: 1.2rem;
  }

  /* Line spacing between basic information */
  figcaption ul {
        line-height: 2rem;
    }
}

/* Media query for desktop sizing */
@media only screen and (min-width: 900px) {
  figcaption ul {
      line-height: 3rem;
    }

    /* Page title inside banner */
  #banner h1 {
    font-size: 3rem;
  }

/* Area around the link inside navbar */
  #banner li {
      margin: 0 3rem
  }

  /* Link inside the navbar */
  #banner li a {
      font-size: 1.5rem;
  }
  
  /* Picture of myself */
  #mugshot {
      width: 25vw;
      height: 25vw;
  }

  /* Animation when link inside navbar is hovered */
  #banner li:hover {
      background-color: rgb(255, 255, 255);
      border-radius: 0.5rem;
  }
}
