@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald:wght@300&display=swap");

:root {
  --serif-font: "Noto Serif", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--serif-font);
}

/* Header at the top of the page */
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: right;
  padding: 2.5vw;
  background-color: rgb(255, 199, 14);
}

/* Name at the top of the page */
header h2 {
  font-size: 3rem;
}

/* For styling the Tel: and Email: text in header*/
span {
  font-style: italic;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
}

/* Banner under the header */
#banner {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-image: url("../images/banner.png");
  background-size: cover;
  width: 95vw;
  margin: 1rem 1.25vw 0px 1.25vw;
  border-radius: 2rem;
}

/* Page heading inside the banner */
#page-heading {
  display: flex;
  color: rgb(255, 255, 255);
  font-weight: 5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 2rem;
  order: 1;
}

/* Navbar under the page heading inside the banner */
#banner-nav {
  order: 2;
}

/* Navigation links inside the banner navbar */
#banner-nav ul {
  display: flex;
  padding: 0.3rem;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

/* Navigation links inside the banner navbar */
#banner-nav ul li {
  list-style: none;
  padding: 0.5rem;
}

/* Removing styling for links in navbar and text color*/
#banner-nav a {
  text-decoration: none;
  color:rgb(107, 0, 0)
}

/* Horizontal rule which separates main component from banner and footer */
hr {
  width: 95vw;
  display: inline-block;
  margin: 2.5vw;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0vw 4vw 2.5vw 2.5vw;
}

/* Contains the company logo, name, tenure, position and achievements whilst employed there  */
main div {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 0;
}

/* Company logo and info*/
figure {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Company name, tenure and position */
figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
}

figcaption ul {
  text-align: center;
}

/* company logo */
img {
  width: 40vw;
  object-fit: fill;
  overflow: hidden;
}

/* Text detailing achievements at the company */
.achievements {
  display: flex;
  align-items: center;
  order: 2;
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

footer p {
  text-align: center;
}

a:visited {
  color: inherit;
}

/* Animation for banner navbar when link is tapped */
#banner a:focus-within {
  color: rgb(255, 0, 0);
}

/* Animation for banner navbar when link is tapped */
#banner li:focus-within {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

/* Media query for tablet sizing */
@media only screen and (min-width: 600px) and (max-width: 899px) {
  /* Page title inside banner */
  #banner h1 {
    font-size: 2.5rem;
  }

  /* Links inside banner navbar */
  #banner li a {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 900px) {
  /* Page title inside banner */
  #banner h1 {
    font-size: 3rem;
  }

  /* Area around the link inside navbar */
  #banner li {
    margin: 0 3rem;
  }

  /* Link inside the navbar */
  #banner li a {
    font-size: 1.5rem;
  }

  /* Animation when link inside navbar is hovered */
  #banner li:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
  }
}
